{% extends "__layout.html" %}

{% block content %}
<div class="container">
    <div  class="header">О нас</div>
    <hr>
    <div class="col">
        <div class="row">
            <div class="col-4">
                <img class="image" src="/static/images/Никита.jpg" alt="Фото Никиты">
            </div>
            <div class="col">
                <div class="name" >Никита Захидов</div>
                <div class="row">
                    <div class="col-3">
                        <div class="block" >Деятельность:</div>
                        <div class="block" >Сcылка на VK:</div>
                        <div class="block" >Электронная почта:</div>
                    </div>
                    <div class="col-7">
                        <div class="blok">председатель интеллектуального клуба студентов ИрНИТУ</div>
                        <div class="blok"><a class="link "href="https://vk.com/whitzwavz" target="_blank">https://vk.com/whitzwavz</a></div>
                        <div class="blok">nik48x@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col">
        <div class="row">
            <div class="col-4">
                <img class="image" src="/static/images/Анастасия.jpg" alt="Фото Анастасии">
            </div>
            <div class="col">
                <div class="name">Анастасия Сапожникова</div>
                <div class="row">
                    <div class="col-3">
                        <div class="block" style="margin-bottom: 34px;" >Деятельность:</div>
                        <div class="block" >Сcылка на VK:</div>
                        <div class="block" >Электронная почта:</div>
                    </div>
                    <div class="col-7">
                        <div class="blok">методист интеллектуального клуба студентов ИрНИТУ,<br> капитан команды "Призрак позитрона"</div>
                        <div class="blok"><a class="link "href="https://vk.com/ananasik_sapi" target="_blank">https://vk.com/ananasik_sapi</a></div>
                        <div class="blok">anast.sap@yandex.ru</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col">
        <div class="row">
            <div class="col-4">
                <img class="image" src="/static/images/Владислав.jpg" alt=" Фото Владислава">
            </div>
            <div class="col">
                <div class="name" >Владислав Карлов</div>
                <div class="row">
                    <div class="col-3">
                        <div class="block" >Деятельность:</div>
                        <div class="block" >Сcылка на VK:</div>
                        <div class="block" >Электронная почта:</div>
                    </div>
                    <div class="col-7">
                        <div class="blok">член интеллектуального клуба студентов ИрНИТУ</div>
                        <div class="blok"><a class="link "href="https://vk.com/feed" target="_blank">https://vk.com/feed</a></div>
                        <div class="blok">nedoproforg@vk.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col">
        <div class="row">
            <div class="col-4">
                <img class="image" src="/static/images/Александр.jpg" alt="Фото Александра">
            </div>
            <div class="col">
                <div class="name" > Александр Цыремпилон</div>
                <div class="row">
                    <div class="col-3">
                        <div class="block" style="margin-bottom: 34px;" >Деятельность:</div>
                        <div class="block" >Сcылка на VK:</div>
                        <div class="block" >Электронная почта:</div>
                    </div>
                    <div class="col-7">
                        <div class="blok">член интеллектуального клуба студентов ИрНИТУ,<br> член команды "Британские учёные"</div>
                        <div class="blok"><a class="link "href="https://vk.com/tsyrempiilon" target="_blank">https://vk.com/tsyrempiilon</a></div>
                        <div class="blok">saha_uude@mail.ru</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col">
        <div class="row">
            <div class="col-4">
                <img class="image" src="/static/images/Никита2.jpg" alt="Фото Никиты">
            </div>
            <div class="col">
                <div class="name" >Никита Горохов</div>
                <div class="row">
                    <div class="col-3">
                        <div class="block" style="margin-bottom: 34px;">Деятельность:</div>
                        <div class="block" >Сcылка на VK:</div>
                        <div class="block" >Электронная почта:</div>
                    </div>
                    <div class="col-7">
                        <div class="blok">член интеллектуального клуба студентов ИрНИТУ<br>капитан команды "Мафия"</div>
                        <div class="blok"><a class="link "href="https://vk.com/greeebennebben" target="_blank">https://vk.com/greeebennebben</a></div>
                        <div class="blok">Nikita01272004@yandex.ru</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="col">
        <div class="row">
            <div class="col-4">
                <img class="image" src="/static/images/Максим.jpg" alt="Фото Максима">
            </div>
            <div class="col">
                <div class="name" >Максим Чупановский</div>
                <div class="row">
                    <div class="col-3">
                        <div class="block" >Деятельность:</div>
                        <div class="block" >Сcылка на VK:</div>
                        <div class="block" >Электронная почта:</div>
                    </div>
                    <div class="col-7">
                        <div class="blok">член интеллектуального клуба студентов ИрНИТУ</div>
                        <div class="blok"><a class="link "href="https://vk.com/chupachupsky" target="_blank">https://vk.com/chupachupsky</a></div>
                        <div class="blok">pxprotech@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
{% endblock %}