{% extends "__layout.html" %}

{% block content %}
<div class="container">
    <div class="header">Брейн-ринг и телебрейн</div>
    <div class="row">
        <p>В общем случае <a class="link" href="/chgk">спортивное «Что? Где? Когда?»</a> непривлекательно для постороннего зрителя. А вот определить какая из команд может 
        быстрее ответить на поставленный вопрос — это уже гораздо интереснее. Так возникла новая игра "Брейн-ринг", ставшая телепередачей,
        ведущим которой стал Андрей Козлов. Съёмки телебрейна продолжались с 1989 по 1999 гг., после чего программа больше в эфир не выходила.
        Ежегодно проходят первенства многих городов и регионов по «Брэйну», игра включается в программу фестивалей. </p>
    </div>
    <div class="row">
        <div class="col-auto offset-2">
                <img class="img" src="/static/images/телебрейн.jpg" alt="Телебрейн">
                <div class="pod">Телебрейн</div>
            
        </div>
        <div class="col-auto offset-2">
                <img class="img" src="/static/images/брейн.jpg" alt="Брейн-ринг">
                <div class="pod">Брейн-ринг</div>
        </div>
    </div>
    <div class="header">Правила</div>
    <div class="row">
        <ul>
            <li>В классическом варианте «Брэйн-Ринга» одновременно играют две команды по шесть человек в каждой.</li>
            <li>Ведущий зачитывает вопрос. При окончании чтения вопроса включается брэйн-система. После светового или звукового сигнала,
            свидетельствующего о начале обсуждения, команда может нажать на кнопку.</li> 
            <li>Если команда нажимает на  кнопку до сигнала, фиксируется, так называемый, «фальстарт» и команда теряет право отвечать на этот вопрос. 
            В этом случае оставшиеся команды могут отвечать в любой момент до окончания времени обдумывания. </li>
            <li>Если несколько играющих команд нажимают на кнопки до сигнала, фальстарт фиксируется только у команды, нажавшей первой.</li> 
            <li>За правильный ответ команде начисляется одно очко.</li>
            <li>Если первая команда ответила неправильно, остальные команды продолжают обдумывание вопроса и, в свою очередь, 
            сообщают о своей готовности отвечать нажатием на кнопку.</li>
            <li>Команда имеет право не отвечать на вопрос.</li> 
            <li>Обычно на обдумывание вопроса отводится минута, однако, после ответа первой команды или фальстарта 
            на обдумывание может даваться 20 секунд, а не всё время до конца минуты.</li>
        </ul>
    </div>
    <div class="header">Вариации игры</div>
    <div class="gloss">«Брэйн» без фальстартов</div>
    <div class="row">
        Игра происходит по правилам обычного «Брэйн-Ринга», но нажимать на кнопку можно в любое время после начала чтения вопроса,
         т.е. фальстарт не фиксируется. Обычно перед началом вопроса ведущий сообщает, что именно будет спрашиваться в вопросе 
    </div>
    <div class="gloss">Хамовнический стрелок</div>
    <div class="row">
        Игра проходит по правилам обычного «Брэйн-Ринга» или «Брэйна» без фальстартов, но команда, в случае правильного ответа соперника,
        теряет одного человека, который покидает игровую площадку. Вариантов определения победителя существует несколько: 
        В первом случае в бою побеждает команда, команда-соперник которой потеряла всех игроков, в следующем круге команды-победительницы 
        опять начинают игру в полном составе. Во втором варианте бой ведётся на определённое количество вопросов, 
        а в следующий круг команда-победительница переходит с тем числом людей, которое осталось после предыдущего боя. 
        Команда, потерявшая последнего игрока, выбывает из соревнований.
    </div>
    <div class="gloss">Чеширский кот</div>
    <div class="row">
        В отличие от предыдущего варианта, игрок уходит у команды, правильно ответившей на вопрос. Побеждает команда, первой избавившаяся
        от всех игроков. Игрок команды-победительницы, ушедший из-за стола последним, получает звание «Улыбка Чеширского кота».
    </div>
    <div class="header">Вопросы</div>
    <div class="row">
        <div class="col-auto"><i class="fa-solid fa-2x fa-cube"></i></div>
       <div class="col mt-1">Чтобы вы имели представление о вопросах брейн-ринга оставлю ссылочку на пакет из <a class="link" href="/glossary">базы</a>:  <a class="link" href="https://db.chgk.info/tour/120br" target="_blank">https://db.chgk.info/tour/120br</a></div>
    </div>
</div> 


{% endblock %}