{% extends "__layout.html" %}

{% block content %}
<div class="container">
    <div class="header">Спортивное ЧГК и теледомик</div>
    <div class="row">
        После выхода в свет телепередачи «Что? Где? Когда?» умные люди в разных городах СССР довольно быстро поняли, 
        что могут отвечать на вопросы ничуть не хуже телевизионных знатоков. Телеклуб не мог вместить всех желающих играть.
        Тогда по всей стране начали формироваться клубы знатоков. Сначала в клубах пытались во всех подробностях повторить 
        телевизионный антураж игр — покупался волчок, раскладывались вопросы, 
        в зал усаживали зрителей. Со временем количество желающих играть росло, а число желающих просто посмотреть — 
        уменьшалось. В результате в разных местах практически одновременно зародились первые правила спортивного «Что? Где? Когда?».
        Сейчас существует даже кодекс игры «Что? Где? Когда?» от Международной Ассоциации Клубов. На сегодняшний 
        день в спортивное «Что? Где? Когда?» играют многие тысячи игроков более чем десяти стран мира, 
        существуют рейтинги команд знатоков, уже несколько лет проводится Чемпионат Мира по «Что? Где? Когда?».
    </div>
    <div class="row">
        <div class="col-auto offset-2">
                <img class="img" src="/static/images/теледомик.jpg" alt="Теледомик">
                <div class="pod">Телепередача "Что? Где? Когда?"</div>
            
        </div>
        <div class="col-auto offset-2">
                <img class="img" src="/static/images/Спортивное ЧГК.jpg" alt="Спортивное Что? Где? Когда? ">
                <div class="pod">Спортивное Что? Где? Когда?</div>
        </div>
    </div>
    <div class="header">Правила</div>
    <div class="row">
        <ul>
        <li>Все команды играют одновременно на одни и те же вопросы.</li>
        <li>Число игроков в команде ограничивают сверху: в команде может быть от 6 до 8 игроков.</li>
            <li>Игра ведётся на заранее объявленном количестве вопросов — от 24. Общее число вопросов разбивают на туры по 12-15 вопросов, 
            между которыми игрокам дают возможность отдохнуть.</li>
            <li>Ведущий игры зачитывает командам вопрос. На обсуждение вопроса отводится минута (кроме <a class="link" href="/glossary">«блицев»</a>). Игроки команд совещаются, стараясь делать это по возможности тише, дабы не подслушали соперники.</li>
            <li>После окончания минуты знатокам даётся ещё около 10 секунд для записи ответа на бланках. После чего один член команды поднимает вверх руку
            с бланком, которые собирают ласточки. Собранные ответы передаются в жюри, которое засчитывает или не засчитывает ответы командам. 
            За каждый правильный ответ команда получает одно очко.</li>
            <li>После всех вопросов подводятся итоги соревнования. Как правило, победителем становится команда, правильно ответившая на большее 
            количество вопросов. При равенстве очков в ход идут дополнительные показатели, такие как <a class="link" href="/glossary">рейтинг</a> вопросов.</li>
            <li>Если команда считает, что её ответ правильный, хотя и отличается от ответа, зачитанного ведущим, подаётся апелляция.
            Апелляционное жюри рассматривает протест и выносит вердикт. Апелляции есть не на всех турнирах.</li>
        </ul>
    <div class="header">Вариации игры</div>
    <div class="gloss">Карточный домик</div>
    <div class="row">
        Игра проходит как классическое "Что? Где? Когда?", но каждые 6 вопросов составы всех команд меняются. 
        Таким образом, появляется уникальная возможность поиграть и познакомиться с огромным количеством участников всех возрастов.
        Игра идеально подойдет тем, кто не смог собрать/найти себе команду, но давно хотел поиграть в "Что? Где? Когда?". 
    </div>
    <div class="gloss">Эрудит-лото</div>
    <div class="row">
    Классическое "Что? Где? Когда?", но с вариантами ответов.
    </div>
    <div class="header">Вопросы</div>
    <div class="row">
        <div class="col-auto"><i class="fa-solid fa-2x fa-cube"></i></div>
       <div class="col mt-1">Чтобы вы имели представление о вопросах спортивного ЧГК оставлю ссылочку на <a class="link" href="/glossary">пакет</a> с Лиги Вузов Европы:  <a class="link" href="https://iqga.me/base/1842/" target="_blank"> https://iqga.me/base/1842/</a></div>
    </div>
</div>
{% endblock %}