{% extends "__layout.html" %}

{% block content %}
<div class="header">
    Глоссарий
</div>
<div class="container">
    <ul class="glossary">
        <li><b>База</b> — база данных отыгранных вопросов.</li>
        <li><b>Безенчук</b> — человек, пишущий слишком сложные вопросы (см. гроб). Образовано от фамилии персонажа романа «Двенадцать стульев»,
        владевшего конторой по изготовлению гробов.</li>
        <li><b>Блиц</b> — три вопроса по 20 секунд обсуждения каждый. Очко даётся только в случае верного ответа на все три вопроса. 
        Как правило, вопросы в блице связаны: могут иметь общий источник, общую логику построения, или их ответы логически или формой 
        связаны между собой. При этом взятие одного вопроса способствует взятию другого (других).</li>
        <li><b>Брать вопрос</b> — правильно отвечать на него.</li>
        <li><b>Гроб</b> — очень тяжёлый вопрос. Обычно используется для обозначения вопроса, ответ на который не нашла ни одна из присутствующих
        в зале команд. Нередки вопросы с ответом «гроб», в этом случае обычно в тексте делается намёк на их сложность.</li>
        <li><b>Держать форму (вопроса)</b> — запоминать (записывать) формулировку вопроса.</li>
        <li><b>Дуплет</b> — два вопроса по 30 секунд обсуждения каждый. Как правило, вопросы в дуплете связаны: могут иметь общий источник, общую логику
        построения, или их ответы логически или формой связаны между собой. При этом взятие одного вопроса способствует взятию другого.</li>
        <li><b>Замена</b> — тип вопроса, в котором некоторые ключевые слова заменены на другие (обычно согласно некоторой логике).</li>
        <li><b>Интуит</b> — игрок с хорошо развитой интуицией.</li>
        <li><b>Карманец</b> — вопрос, для взятия которого необходимо знакомство с фактами биографии автора вопроса, заведомо неизвестными большинству игроков.
        Этимология восходит к вопросу Бильбо Бэггинса (Дж. Р. Р. Толкин, «Хоббит»).</li>
        <li><b>Кнопка</b> — электронная система с двумя кнопками для игры в «Брейн-ринг» (существуют системы с бо́льшим количеством кнопок, поддерживающие
        и другие игры, например, «Свою игру»).</li>
        <li><b>Кнопочник</b> — в «Брейн-ринге» игрок, жмущий на кнопку для подачи сигнала о готовности команды к ответу.</li>
        <li><b>Контакт</b> (произносится, перебивая говорящего) — я понял, что ты имеешь в виду, не продолжай. Происходит от одноимённой игры.</li>
        <li><b>Крутить (вопрос)</b> — обсуждать.</li>
        <li><b>Легионер</b> — игрок, не имеющий своей команды или играющий за чужую команду в ЧГК или «Брейн-ринг».</li>
        <li><b>Ласточки</b> — ассистенты (обычно добровольцы), собирающие бланки с ответами.</li>
        <li><b>Матрица, матричная тема</b> — тема в «Своей игре», в которой ответами на все вопросы служит слово, содержащее в себе буквосочетание, 
        указанное в её названии (от двух до четырёх букв). Иногда в число матричных включают темы (иногда именуемые «полуматричными»), где указанное
        буквосочетание может быть не только в ответе, но уже и в самой формулировке вопроса.</li>
        <li><b>Метка</b> — часть вопроса, делающая формально неверными ответы, альтернативные авторскому (например, указание точного номера газеты, в которой
        опубликован факт, ставший источником для вопроса). Как правило, не помогает командам в выборе верного ответа (в отличие от <b>отсечки</b>) и поэтому 
        считается нежелательным приёмом.</li>
        <li><b>Многоходовка</b> — вопрос, ответ на который находится в несколько последовательных логических ходов (подвопросов), причём, как правило, для ответа 
        на следующий подвопрос (ход) требуется найти ответ на предыдущий.</li>
        <li><b>Мораторий</b> — период после турнира, в течение которого запрещена публикация и обсуждение вопросов в открытых источниках, так как они будут
        отыгрываться на других турнирах.</li>
        <li><b>Накидать (версии)</b> — приём мозгового штурма, заключающийся в генерировании большого количества версий, среди которых может оказаться верная.</li>
        <li><b>Не знаешь, что отвечать, отвечай «Пушкин»</b> — принцип выбора из одинаково подходящих ответов наиболее известного. Что касается прямой формулировки
        принципа, то вопросы с ответом «Пушкин» действительно часто встречаются.</li>
        <li><b>Овощ</b> — ОВСЧ (Открытый всероссийский синхронный чемпионат).</li>
        <li><b>Отсечка</b> — информация в вопросе, позволяющая уверенно отказаться от неправильной версии.</li>
        <li><b>Пакет</b> — набор вопросов для турнира.</li>
        <li><b>Палец</b>(ставить палец) — в «Брэйн-ринге» поднятый большой палец, сигнализирующий капитану (кнопочнику) о наличии у игрока ответа
        (как правило при зачтении вопроса и при стопроцентной уверенности в верности ответа).</li>
        <li><b>Положить на стол (версию)</b> — высказать версию во время обсуждения.</li>
        <li><b>Раздатка</b> — раздающиеся на столы карточки с иллюстрациями и другими вспомогательными визуальными материалами, которые могут понадобиться
        для взятия вопроса. </li>
        <li><b>Рейтинг (вопроса)</b> — количественный критерий сложности вопроса. Равен числу команд, не ответивших на вопрос, плюс единица. Иногда сумма
        рейтингов взятых вопросов используется как вторичный показатель при определении победителя турнира в случае равенства очков.</li>
        <li><b>Свеча, свечка</b> — «засвеченный», «игранный» вопрос.</li>
        <li><b>Свояк</b> — игра по правилам телевизионной «Своей игры».</li>
        <li><b>Синхрон, Синхронный турнир</b> — игра в спортивном ЧГК, вопросы которой зачитываются одновременно в нескольких городах.</li>
        <li><b>«Сколько будет дважды два?»</b> — традиционный вопрос, используемый при тестировании кнопки перед началом «Брэйн-ринга».</li>
        <li><b>Спасти вопрос, сделать рейтинг вопросу</b> — если какая-то команда не взяла то, что взяли все остальные.</li>
        <li><b>Телебрейн</b> — телевизионная версия «Брейн-ринга».</li>
        <li><b>Фальстарт</b> — в «Брэйн-ринге» и «Своей игре» — нажатие на кнопку до сигнала «Время».</li>
        <li><b>ЧГКашник</b> — игрок в ЧГК.</li>
        <li><b>«Что курил автор вопроса?»</b> — стандартная реакция на плохой вопрос (чаще всего, страдающий отсутствием логики).</li>
        <li><b>Школа, вопрос на школу</b> — вопрос на самую простую версию, в отсутствии дополнительной информации, например, вопросы с ответами «никто»,
        «никакой», «ничего» и т. п.; вопрос со скрытой или явной (Ответ заключён в вопросе) подсказкой в тексте вопроса; вопрос, в котором из ряда возможных
        версий нужно выбрать наиболее банальную: если спрашивается поэт — то ответ «Пушкин», если скрипичный мастер — то Страдивари.</li>
        <li><b>Щёлкает (о версии)</b> — интуитивное ощущение правильности версии.</li>
        <li><b>Элитарка, теледомик</b> — телевизионная версия ЧГК.</li>
    </ul>
</div>
{% endblock %}