{% extends "__layout.html" %}

{% block content %}
<div class="conainer">
  <div class="row">
    <div class="col-auto "><img style="margin-top: 7px; margin-left: 7px;height: 90px; width: 90px;" src="/static/images/ирниту.jpg"></div>
    <div class="col-auto"><img src="/static/images/IKS_logo_Montazhnaya_oblast_1_2 (1).png"></div>    
  </div>
    <hr>
      <div class="row">        
        <div class="col-8 offset-1 adstxt">
          Завершился долгожданный первый этап кубка первокурсников по "Что? Где? Когда?".<br>
          Участие в игре приняли 10 команд.<br>
          Каждая команда сумела достойно показать себя в ожесточенной борьбе,<br> а каждый участник подтвердил свое звание интеллектуала.<br>
          По результатам 1-го этапа:<br>
          🥇1-ое место у "Призрака позитрона"<br>
          🥈2-ое место заняла команда "Молния"<br>
          🥉3-ое место получила команда "Мафия"    
          <br>Поздравляем победителей! Ждем вас на следующих играх Интеллектуального клуба!<br>
        </div>
        <div class="col-auto carousel-container">
            <div id="carousel1" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel1" data-bs-slide-to="2" aria-label="Slide 3"></button>
                  <button type="button" data-bs-target="#carousel1" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/images/ИКС.jpg" class="d-block w-100" alt="Фото всех участников">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/Призрак позитрона.jpg" class="d-block w-100" alt="Фото команды Призрак позитрона">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/Молния.jpg" class="d-block w-100" alt="Фото команды Молния">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/images/Мафия.jpg" class="d-block w-100" alt="Фото команды Мафия">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
    <hr>
    <div class="row">        
        <div class="col-auto carousel-container">
          <div id="carousel2" class="carousel slide" data-bs-ride="true">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="2" aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carousel2" data-bs-slide-to="3" aria-label="Slide 4"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="/static/images/Все участник.jpg" class="d-block w-100" alt="Фото всех участников">
                </div>
                <div class="carousel-item">
                  <img src="/static/images/Грамоты.jpg" class="d-block w-100" alt="Фото грамот">
                </div>
                <div class="carousel-item">
                  <img src="/static/images/Молния2.jpg" class="d-block w-100" alt="Фото команды Молния">
                </div>
                <div class="carousel-item">
                  <img src="/static/images/2 тур лиги ИрНИТУ.jpg" class="d-block w-100" alt="Фото с 2 тура">
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carousel2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carousel2" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
      </div>
      <div class="col-8 offset-1 adstxt">
        12 ноября прошел 2-й этап лиги ИРНИТУ по «Что? Где? Когда?».<br>
        В игре приняло участие 15 команд.<br> Все команды показали достойную игру, но некоторые оказались сильнее.<br>
        Игра была настолько напряженной, что второе место разделили сразу три команды,<br>
        а победителями игры стала команда «Призрак позитрона»       
      </div>
  </div>
  <hr>
  <div class="row">   
    <div class="col-7 offset-1 adstxt">
        👋🏻ИКС набирает команду 🤔<br>
        Ты чувствуешь, что у тебя есть силы не только играть, но и организовывать интеллектуальные игры?<br>
        Или у тебя есть идеи, которые ты хотел бы воплотить, но не знаешь как? <br>
        А может ты хотел бы руководить "Интеллектуальный клубом" в нашем вузе? <br>
        Тогда тебе срочно нужно попасть в нашу команду!<br>
        💪🏻Ты можешь написать <a  class="link" href="/about">Захидову Никите</a>  и он расскажет тебе как стать полноценным участником нашей команды!
    </div>
    <div class="col-auto ml-1">
      <img class="ads" src="/static/images/x_QESUmuxxA.jpg">
  </div>
</div>
<hr>


{% endblock %}
