{% extends "__layout.html" %}

{% block content %}
<div class="container">
    <div class="header">Своя игра: телевизионная и спортвная</div>
    <div class="row">
        «Своя игра» в Россию пришла в апреле 1994 года. Прообразом «Своей игры» стала всемирно известная игра «Jeopardy!»,
        идущая на американском телевидении с 1964 года. «Своя игра» среди знатоков вполне заслуженно считается наиболее справедливой
        и спортивной из телеигр. Ежегодно проводятся чемпионаты городов и даже стран.Правила проведения этих чемпионатов не всегда 
        совпадают с правилами телевизионных игр: спортивная «Своя игра» обычно не использует элементы шоу, такие как «Коты в мешке», 
        «Аукционы», могут изменяться правила нажатия кнопки. Но и в спортивном варианте «Своя игра» очень зрелищна, а, кроме того,
        обеспечивает большую вероятность победы самого эрудированного, а не самого удачливого игрока.  
    </div>
    <div class="row">
        <div class="col-auto offset-1">
                <img class="img" src="/static/images/своя игра.jpg" alt="Телевизионная «Своя игра» ">
                <div class="pod">Телевизионная «Своя игра» </div>
            
        </div>
        <div class="col-auto offset-2">
                <img class="img" src="/static/images/свояк.jpg" alt="Спотривная «Своя игра»">
                <div class="pod">Спотривная «Своя игра»</div>
        </div>
    </div>
    <div class="header">Правила</div>
    <div class="row">
        <ul>
            <li>Игра проводится между индивидуальными участниками. Одновременно играют 3-4 человека.</li>
            <li>Для технического обеспечения «Своей игры» обычно используют брейн-систему, имеющую достаточное количество кнопок.</li>
            <li>Участникам предлагается несколько тем. Каждая тема состоит из 5 вопросов разной степени сложности — от 10 до 50 баллов.</li> 
            <li>Вопросы задаются в строгой последовательности от 10 до 50 баллов, тема за темой. Игра заканчивается только тогда, когда все вопросы
            отыграны.</li>
            <li>В спортивном варианте «Своей игры» фальстарт не фиксируется и можно нажимать на кнопку в любой момент прочтения вопроса.
            В момент нажатия на кнопку чтение вопроса прерывается, и игрок должен дать ответ. При этом форму вопроса можно уточнить перед ответом.</li>
            <li>Игрок не обязан нажимать на кнопку. При этом его счёт не меняется.</li>
            <li>Если игрок нажал на кнопку и дал правильный ответ, он зарабатывает столько очков, сколько «стоит» заданный вопрос. Если игрок после 
            нажатия на кнопку ответил неправильно, стоимость вопроса вычитается из его общего счёта.</li>
            <li>После окончания чтения вопроса на обдумывание обычно даётся около 5 сек. После нажатия на кнопку — от 3 до 5 сек, после чего должен
            прозвучать ответ или считается, что игрок ответил неправильно.</li>
            <li>После неправильного ответа игрока и до истечения времени на обдумывание вопроса, остальные игроки также могут нажимать на <a class="link" href="/glossary">кнопку</a>.</li>
        </ul>
        </div>
    <div class="header">Вариации игры</div>
    <div class="gloss">Письменная «Своя игра» </div>
    <div class="row">
       Вопросы «Своей игры» с классической разбалловкой и темами, но ответы записываются на бланке. Часто используется как отбора на спортивную "Свою игру".
    </div>
    <div class="gloss">Эрудит-квартет</div>
    <div class="row">
        Командная «Своя игра». Есть деление раундов по темам на открытые/полуоткрытые/закрытые. В каждом раунде на одну тему играет один участник от команды.
    </div>
    <div class="gloss">Хамса</div>
    <div class="row">
       Правила те же, что и в эрудит-квартете, но с дополнительными раундами: персональный и "хамса". В раунд "Хамса" допускаются только команды
       с суммой баллов по предыдущим раундам больше нуля.
    </div>
    <div class="gloss">Хороший, плохой, злой</div>
    <div class="row">
       Номинал вопроса определяется маркерами: хороший, плохой,злой.
    </div>
    <div class="gloss">Тройки</div>
    <div class="row">
       <p>Играют три человека от команды, после нажатия кнопки, отвечают сначала 2 игрока за <a class="link" href="/glossary">кнопочником</a>, после чего он сам. За один вопрос можно заработать от 0 до 3 баллов.</p>
    </div> 
    <div class="header">Вопросы</div>
    <div class="row">
        <div class="col-auto"><i class="fa-solid fa-2x fa-cube"></i></div>
       <div class="col mt-1">Чтобы вы имели представление о вопросах «Своей игры» оcтавлю ссылочку на пакет вопросов с XII Кубка Европы по интеллектуальным играм среди студентов: <a class="link" href="https://db.chgk.info/tour/eu16stsv" target="_blank">https://db.chgk.info/tour/eu16stsv</a></div>
    </div>

</div> 
{% endblock %}